.cardBoxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: #ffffff;
  border-radius: 8px;
  height: 100%;
  /* width: 26rem; */
  box-shadow: 0px 2px 2px lightgray, 10px 2px 44px 0px lightgray;
  color: #1b262c;
  font-weight: 400;
  font-family: Poppins, sans-serif;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cardBoxContainer:hover {
  background-color: #d1fad0;
}

.cardBoxContainer img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.cardBoxContainer h3 {
  max-width: 26.5rem;
  color: #1b262c;
  font-size: calc(0.6rem + 0.6vw);
  margin: auto;
  padding: 1rem 0px;
}
