.mainHeaderContainer {
  position: sticky;
  top: 0;
  background-color: #ffffff !important;
  box-shadow: 0 0px 4px 0 lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainHeaderContainer img {
  max-width: 8vw;
  margin: 1vh 0vw;
  cursor: pointer;
}

.mainHeaderContainer hr {
  width: 100%;
  color: #e0e0e0;
  background-color: #e0e0e0;
  border: solid 1px #e0e0e0;
}
